<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>hello</title>
</head>
   <body>

      <h2>Hello DevOps{{ DevOps }}!</h2>
      <p>This site has been visited {{ count }} times.</p>
      <h3>In this project, the CI/CD pipeline is used to automate the deployment process. Also deploying to built application to target environment and  cloud server or container, for provisioning, configuration, and containerization using Docker. And HPC Docker xCAT image deployment can be used in future enhancement.</h3>

   </body>
</html>